@mixin default {
  :root {
    font: #{$global-base-font-size}/#{$global-base-line-height} #{$global-base-font-family};
  }

  body {
    letter-spacing: 0.05em;
    line-height: inherit;
    word-break: break-all;
    color: #333333;
    min-height: 100vh;
    min-height: -webkit-fill-available;

    a,
    button {
      transition: 0.3s;
    }
  }

  input,
  button,
  select,
  textarea {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    vertical-align: middle;
    text-align: left;
    font: inherit;
    -webkit-tap-highlight-color: rgba(102, 204, 255, 0.5);
  }

  // #__next {
  //   min-height: 100vh;
  // }
}
